<body>
    <div class="hr-edit">
        <hr>
    </div>
    <div>
        <p class="hr-text-left">Günün Filmi</p>
    </div>
    <div>
        <p class="hr-text-right">Öne Çıkan Filmler</p>
    </div>

    <section id="home1">
        <article id="left-content">
            <div>
                <div class="head-part">
                    <h2 class="main-head heading-big">
                        <%= movieOfDay.name%> (<span class="movie-year">
                                <%= movieOfDay.releaseDate%>
                            </span>) <span class="movie-age-group">+18</span>
                    </h2>
                    <h3 class="imdb"><span>IMDb Puani:</span>
                        <%=movieOfDay.imbdScore%> <i class="fas fa-star"></i>
                    </h3>
                </div>
                <div class="movie-video">
                    <iframe src="<%=movieOfDay.trailer%>" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="desc-part">
                    <p class="desc">
                        <%=movieOfDay.description%>
                    </p>
                    <div class="playnow-bttn">
                        <a href="<%=movieOfDay.link%>" target="_blank">Şimdi İzle <i class="far fa-play-circle"></i></a>
                    </div>
                </div>
                <div class="info-part">
                    <div class="director">
                        <h4>Yönetmen:</h4>
                        <p>
                            <%=movieOfDay.director%>
                        </p>
                    </div>
                    <div class="stars">
                        <h4>Başrol:</h4>
                        <p>
                            <%=movieOfDay.actors%>
                        </p>
                    </div>
                    <div class="types">
                        <h4>Türler:</h4>
                        <p>
                            <%=movieOfDay.type%>
                        </p>
                    </div>
                    <div class="movie-time">
                        <h4>Film süresi:</h4>
                        <p>
                            <%=movieOfDay.time%> dk
                        </p>
                    </div>
                </div>
            </div>
        </article>

        <!--Reccommended Films Section-->
        <article id="right-content">
            <div class="card-container">
                <%recommended.forEach(rec=> { %>
                    <% if(rec.isSeries===false) {%>
                        <div class="cards">
                            <div class="card-part">
                                <img class="movie-img" src="<%= rec.image%>" alt="">
                            </div>
                            <% if(rec.producer==="Netflix" ){ %>
                            <div class="card-hover-netflix">
                                <p class="header-netflix"> <%= rec.producer%> </p>
                                <div class="left-section-netflix">
                                    <p class="year"><%= rec.releaseDate %></p>
                                    <P class="card-header"><%= rec.name%></P>
                                    <p class="age"><span>+</span>18</p>
                                </div>
                                <div class="card-trailer-netflix">
                                    <iframe src="<%= rec.trailer %>" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                                    <div class="card-content-netflix">
                                        <p class="card-desc"><%= rec.description %></p>
                                        <p class="card-type"><span>Türler: </span> <%= rec.type%> </p>
                                        <p class="card-director"><span>Yönetmen: </span> <%= rec.director%> </p>
                                        <p class="card-stars"><span>Başrol: </span> <%= rec.actors%> </p>
                                        <p class="card-movie-time">
                                            <% if(rec.time === 0){%>
                                                Sezonlar: <span> <%=rec.seasons%> </span>
                                            <%} else{%>
                                                Suresi: <span> <%=rec.time%> dk</span>
                                            <%}%>
                                        </p>
                                    </div>
                                    <div class="card-imdb-netflix">
                                        <p>imdb: <span> <%=rec.imbdScore%></span></p>
                                    </div>
                                    <div class="card-playnow-bttn-netflix">
                                        <a href="<%=rec.link%>" target="_blank">Şimdi İzle <i class="far fa-play-circle"></i></a>
                                    </div>
                                </div>
                            </div>
                            <%} else if(rec.producer==="Prime Video" ){%>
                                <div class="card-hover-prime">
                                    <p class="header-prime"> <%= rec.producer%> </p>
                                    <div class="left-section-prime">
                                        <p class="year"><%= rec.releaseDate %></p>
                                        <P class="card-header"><%= rec.name%></P>
                                        <p class="age"><span>+</span>18</p>
                                    </div>
                                    <div class="card-trailer-prime">
                                        <iframe src="<%= rec.trailer %>" frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                        <div class="card-content-prime">
                                            <p class="card-desc"><%= rec.description %></p>
                                            <p class="card-type"><span>Türler: </span> <%= rec.type%> </p>
                                            <p class="card-director"><span>Yönetmen: </span> <%= rec.director%> </p>
                                            <p class="card-stars"><span>Başrol: </span> <%= rec.actors%> </p>
                                            <p class="card-movie-time">
                                                <% if(rec.time === 0){%>
                                                    Sezonlar: <span> <%=rec.seasons%> </span>
                                                <%} else{%>
                                                    Suresi: <span> <%=rec.time%> dk</span>
                                                <%}%>
                                            </p>
                                        </div>
                                        <div class="card-imdb-prime">
                                            <p>imdb: <span> <%=rec.imbdScore%></span></p>
                                        </div>
                                        <div class="card-playnow-bttn-prime">
                                            <a href="https://www.netflix.com">Şimdi İzle <i class="far fa-play-circle"></i></a>
                                        </div>
                                    </div>
                                </div>
                            <%}else{%>
                                <div class="card-hover-exxen">
                                    <p class="header-exxen"> <%= rec.producer%> </p>
                                    <div class="left-section-exxen">
                                        <p class="year"><%= rec.releaseDate %></p>
                                        <P class="card-header"><%= rec.name%></P>
                                        <p class="age"><span>+</span>18</p>
                                    </div>
                                    <div class="card-trailer-exxen">
                                        <iframe src="<%= rec.trailer %>" frameborder="0"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe>
                                        <div class="card-content-exxen">
                                            <p class="card-desc"><%= rec.description %></p>
                                            <p class="card-type"><span>Türler: </span> <%= rec.type%> </p>
                                            <p class="card-director"><span>Yönetmen: </span> <%= rec.director%> </p>
                                            <p class="card-stars"><span>Başrol: </span> <%= rec.actors%> </p>
                                            <p class="card-movie-time">
                                                <% if(rec.time === 0){%>
                                                    Sezonlar: <span> <%=rec.seasons%> </span>
                                                <%} else{%>
                                                    Suresi: <span> <%=rec.time%> dk</span>
                                                <%}%>
                                            </p>
                                        </div>
                                        <div class="card-imdb-exxen">
                                            <p>imdb: <span> <%=rec.imbdScore%></span></p>
                                        </div>
                                        <div class="card-playnow-bttn-exxen">
                                            <a href="<%rec.link%>">Şimdi İzle <i class="far fa-play-circle"></i></a>
                                        </div>
                                    </div>
                                </div>
                            <%}%>
                        </div>
                        <%}%>
                    <%})%>
            </div>
        </article>
    </section>


    <!--Films Ordered By PRODUCERS-->
    <section>

    </section>
</body>

</html>